#logo{
	float: left;
	width: 11em;
}


#titolo{
	
	font-size: 8em;
	text-align: center;
	padding-right: 0.5em;
	font-family: Snell Roundhand;
	display: block;

}

#position{
    background-color: grey;
	font-size: 1.3em;
    font-family: arial;
    font-variant: small-caps;
}

#menu{
padding: 1em 1em 1em 1em;
}

#menu li{
	float: left;    
    list-style-type: none;
    padding-left:5%;
    padding-right:5%;
}

#menu li a{
	float: left;

}

#footer{
	border-top: 1px solid #DDD;
	text-align: center;
}

#down{
	padding-top: 0.5em;
	padding-left: 1em;
	font-size: 0.9em;	
}

#HTML{
	padding-top: 0.5em;
	float: left;
}

#CSS{
	padding-top: 0.5em;
	float: right;	
}