

/*-----FOOTER-----*/

#footer{

	background-color: #B22222;
	padding-top: 2em;
	padding-bottom:3em;
	
	
}

#contenutoFooter a{
	color: white;
}

#menu_footer{
	float: center;
	margin-left:16.6%;
	margin-top: 1%;
	}

#menu_footer ul{
	list-style-type: none;
}

#menu_footer ul a{
    font-size: 1.4em;
    float:left;
    width:16%;
    text-align: center;
    overflow: hidden;
    font-variant: small-caps;
	text-decoration:none;
	white-space:nowrap;
}

#menu_footer ul a{
	display: block;
}

#menu_footer a:link{

}

#menu_footer a:hover{
  background-color:none;
}

#corrente_footer{
	background-color:none;
	color:white;
}

#linea{
	height:2px ; 
	 background-color:white;
	 margin-top:4.5em;
	 margin-left:8%;
	  margin-right:6%;}
	 
#ultimo_testo{
	margin-top:2em;}

#HTML{
	float: left;
	margin-left:10%;
}

#CSS{
	float: right;
	margin-right:10%;	
}

#testo_footer {
	color:white;
	text-align: center;
	font-size:0.7em;

}

#testo_footer a:link{text-decoration:none;}
