* {
	padding: 0em;
	margin: 0em;
}
html, body{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: auto;
}
a:link{
	color: #cf0808;
}
a:visited{
	color: white;
}



.accesaid{
	position: absolute;
	height: 0;
	overflow: hidden;

}
#header{
	background-color:#DC143C;

}
#contenutoHeader{
	max-width: 1024px;
	margin: 0 10% 0 10%;
	min-height: 5em;
	padding: 1em; 
}

#logo{
	float:left;
	width: 10%;
}
#titolo{
	
	display: inline;
}
#titolo h1{ 
	font-size: 2em;
	font-variant: small-caps;
	display: inline;
	float: left;
	
}
#menu{
	float: right;
	width: 50%;
	margin-right: 5%;
	margin-top: 2%;
}

#menu ul{
	list-style-type: none;
}

/*per rendere non cliccabili le pagine aperte*/
#menu ul li{
    font-size: 1.4em;
    float:left;
    width: 25%;
    text-align: center;
    overflow: hidden;
    font-variant: small-caps;
    padding-top: 0.4em;
    padding-bottom: 1em;
    border-radius: 4px;
}
/*per tornare indietro cancellare i commenti e la modifica qui sopra*/
#menu ul a{
	/*font-size: 1.4em;*/
	/*float: left;
	width: 25%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: 	#FF8C00;
    border-bottom: 3px solid #000;*/
	text-decoration: none;
  
	/*
	overflow: hidden;
	font-variant: small-caps;*/
}
#menu li:hover{
   background: 	#800000;
}


#header h2{
	font-size: 1.5em;
	display: inline;
	float: left;

	
}

#breadcrumb{
	font-size: 0.6em;
	background-color:	#B22222;	
}

#breadcrumb h2{
	width: 1024px;
	padding: 0.3em 0em 0.3em 2em;
	margin-left: 10%;

}


#content{
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	min-height: 30em;
}

#content h2{ 
	font-size: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	background-color: #FAEBD7;
	color: 	#A52A2A;
	font-variant: small-caps;	
}

#content h3{
	font-size: 1.3em;
	color: 	#A52A2A;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	font-variant: small-caps;	
}

#content p{
	text-align: justify;
}


#footer{
	font-style: italic;
	padding: 1em;
	background-color: #B22222;
	padding-top: 4em;
}
#contenutoFooter
{
	width: 1024px;
	margin: 0 auto;
}

#contenutoFooter a{
	color: white;
}

#HTML{
	float: left;
}

#CSS{
	float: right;	
}

#footer img{
	
	margin-left: 1.0em;
	margin-right: 0.8em;

}


#footer p{
	text-align: center;
	font-size:0.7em;
	color: white;
}


/*--------HOME---------*/

#fotoLaterali{
	margin:1em;
	width: 40%;
	float: left;
}
#fotoHome1{
	width: 100%;
	height: 80%;
	margin-bottom: 1em;
}
#fotoHome2{
	width: 100%;
	height: 80%;
}

#promozioni{
	margin-top: 12%;
	min-height: 8em;	
}

#promozioni h2{
	margin-top: 1em;
	text-align: center;
}
#promozioni ul{
	list-style-type: none;
}

#promozioni ul li{
	float: left;
	font-size: 0.9em;
	width: 33%;
	text-align: center;
    font-weight: bold;
}






