* {
	padding: 0em;
	margin: 0em;
}

html, body{ 
	font-family: Montserrat,Verdana, Arial, Helvetica, sans-serif;
	margin: auto;display:block;
}
#header{
color:black;
	height: 100%;
	text-align:center;
}
#contenutoHeader{
	margin: auto;
	max-width:1024px;
	padding-top:2em;
	padding-bottom:2em;	
	
}

#header h2{
	font-size: 1.5em;
	display: inline;
	color:black;
}

#logo{
	float:left;
	width:7em;

}
#titolo{
	display: inline-block;
	text-align: center;
	color:black;
}

#form{
	float: right;
}

.accesaid{
	position: absolute;
	height: 0;
	overflow: hidden;
}

#menu{
		color:black;}

#menu ul {
	list-style-type: none;
	margin: 0;
	overflow: auto;
	background-color: #8B0000;
}

#menu li {
	float: left;
	width: 20%;	
}


#menu li a {
	display: block;
	text-align: center;
	padding: 14px 0em 16px 0em;
	text-decoration: none;   color:black;
}



#breadcrumb{
  display:none;
}

#breadcrumb h2{
	max-width: 1024px;
	padding-left:10%;
	padding-top:0.5em;
	padding-bottom:0.5em;
	font-weight: normal;
}

#content{
	max-width:1024px; 
	margin: 0 auto ;
	overflow: auto;
}

#content h2{
    text-align: center;
    margin-bottom: 1em;
	margin-top:1em;
}
#torre{ 
  display:none; 
} 
#doveandare{
    float:left;
}
#testoInformazioni{ 
   text-align: center; 
   width: 30%; 
   display: inline-block;
}

#testoInformazioni h3{
    padding-top: 3em;

  }

#intestazione{
	padding:0.8em 0.5em 0.5em 0.5em;
	text-align: center;
	
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1.8em;
}

#tabellaLaterale{
	width: 30%;
	float: right;
	
	text-align: center;
	font-size: 1em;
}

#tabellaLaterale caption{
	font-weight: bold;
}
#tabellaOrari{
	margin: 2em;
}
#tabellaEventi{
	margin: 1em;
	margin-bottom:4.9em;
}
#sottoPiano{
	width: 70%;
}

.casella {
display: none;

}




#sottoPiano h2{
	width: 100%;
	text-align: center;
	padding:0.8em 0em 0.5em 0em;
	border-bottom: 1px solid #000;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1.4em;
	display: inline-block;
}
.promozioneHome{
	float: left;
	width: 26%;
	margin: 3%;
	text-align: center;
	overflow: auto;

}
.promozione{
	width: 100%;
}
#elencoPromozioni p{
	padding: 1%;

}

/*--------NEGOZI---------*/


.vetrina img{
     margin-right:4.7%;
	margin-top: 4.5%;
	 margin-left: 4.8%;
	 margin-bottom:5%;
    width: 15%;
	float:left;
	overflow:auto;
}

/*-------FOOTER-----*/
#footer{
	height: 100%;
	text-align: center;
	color: black;
	padding-bottom: 1em;


}

#footerMenu ul{
	max-width: 80%;
	margin:auto;
	list-style-type: none;
	overflow:auto;
}

#footerMenu li {
	float: left;
	width: 20%;

}
#footerMenu li  a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
	padding: 13px 0px 13px 0px;
}

#footer h3{
	margin-top: 1em;
}
#logoFooter{
	width: 10%;
	padding:1em;
}
#infoFooter{
	font-size:0.8em;
}

/*----------DOVE SIAMO--------*/

#mappa{
    width: 65%;
    float: right;
    margin-top:5%;
    padding: 1em;
	margin-bottom:16em;
	
}

/*------------CONTATTI-----------*/
#fotoContatti{
    padding-top: 1em;
    width: 60%;
    float: right;
	margin-top:3em;
	margin-bottom:18em;
	
}

/*--------PROMOZIONI_PUBLIC--------*/


.imgPromozione{
    width: 21.75%;
    float: left;
    text-align: center;
    padding: 1em;
    margin: 1%;
}

#PromozioniAttive img{
    margin-top:1em;
	display:block;
	width: 100%;
}

#PromozioniAttive p{
    padding-top: 1em;
    width: 100%;
}

/*-----------NEGOZIO LEGO---------*/

#titolo_negozio{
	display: block;	
	padding-top:1em;	
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 1em;
	font-size:2em;
	letter-spacing: 10px;
	line-height: 1em;
	border-bottom: 2px solid #A21E1E;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
}

#informazioni{
	width:20%;
	margin-left:5%;
	padding-top:1em;
	float:left;
	
}

#descrizione{
	padding-top:1em;	
	margin-right:5%;
	margin-left:31%;
	margin-top:1em;	
}

#logo_negozio{
	width: 100%;
	height: auto;
	padding:1em;
	
}

#testo{
	padding: 1em;
	line-height: 1.4em;
	color:black; 
	font-style:italic;
	font-size: 95%; 
	text-align: center;
}

#contatti{
	margin-top:1em;
	padding-top:1em;
	text-align: center;	
}

.informazione{
	font-weight: 400;
	padding-top:1em;
}

.dato{
	padding-top: 1%;
	color: black;
}

.gioco{
	width: 32%;
	height: auto;
	display:inline-block;
	padding-top:1em;
}

.titolo_prodotti{
	display: block;	
	padding-top:1em;	
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 1em;
	font-size:1.5em;
	letter-spacing: 10px;
	line-height: 1em;
	border-bottom: 2px solid #A21E1E;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
}

#promozioni{
	padding-bottom:2em;
}


