*{
	padding: 0em;
	margin: 0em;
}

html, body{
	max-width: 1024px;
	margin: auto;				/*ridefinisce il bordo in automatico*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	
}

body{

	border: 4px solid #000;		/*inserisce il bordo*/
}
.accesaid{
	position: absolute;
	height: 0;
	overflow: hidden;

}

#header{
	min-height: 6em;
	padding: 1.0em; 
}

#logo{
	float: left;/*il contenuto circostante gli fluisce intorno piùttosto di proseguire sotto */
	width: 6em;
	height: 6em;
}


#titolo{
	font-size: 4em;
	margin-top: 10px;
	margin-left: 20%;
	font-variant: small-caps;/*maiuscolo*/
}

#breadcrumb{
    padding: 0.4em 0em 0.5em 0.4em;
	font-size: 0.7em;
	border-top:4px solid #000;
	border-bottom: 4px solid #000;
	background-color: #DCDCDC;
    }


#menu ul { /*elenco puntato*/
    list-style-type: none;    
}

#menu li a {
	font-size: 1.3em;
	overflow: hidden;
	background-color: 	#FF8C00;
	/*singole voci*/
	/*link display inline e lo metto a block*/ 
	/* I link hanno display inline*/
	float:left;/*adesso il box si comporta come un box di blocco e il resto gli sta attorno */
    text-align: center;
    /*padding: 0.4em 4.08em 0.4em;*/
    width: 25%;
    text-decoration: none;
    border-bottom: 4px solid #000;

}

#menu a{/*sono già visitati*/
	color: #FFFFFF;
}

#menu a:hover {
   background: #FFA07A;		
}
		

#content{
    height: 40em;
	padding: 1em;
	
}

#content h2{
	margin-bottom: 1em;
}

#content p{
	margin-top: 0.5em;
	margin-bottom:0.5em;
}


#footer
{
	padding: 0.5em;
	border-top: 4px solid #000;

}


#HTML
{
	float:left;
	display: inline;
}

#CSS{
	float: right;
	display: inline;
}

#footer img{
	margin-left: 1.0em;
	margin-right: 1.0em;
	margin-bottom: 0.8em;
}

#footer p{
	text-align: center;
	font-size: 0.8em;
}
/*----HOME-----*/

#FotoHome{
	float:left;
	padding:5px;
	height: 40%;
	width: 50%;
	overflow: hidden;
}

#FotoHome2{
	float:right;
	width: 40%;

}

/*-----NEGOZI----*/

#imgLego
{
	height: 40%;
	width: 80%;
}
#imgArmani
{
	
	height: 20%;
	width: 80%;
}

#imgTrony
{
	width: 90%;
}
/*----CONTATTI-----*/



#FotoContatti 
{
	float: right;
	width: 50%;


}


/*------DOVE SIAMO----*/

#Mappa{
	padding: 1em;
	height: 40%;
	width: 40%;

}

/*-------LEGO------*/
#imgNegLego
{
	float: left;
	padding: 1em;
	width: 40%;
}



