* {
	padding: 0em;
	margin: 0em;
}

html, body{ 
	font-family: Montserrat,Verdana, Arial, Helvetica, sans-serif;
	margin: auto;display:block;
}
#header{
	background-color: #a02222;
	height: 100%;
}
#contenutoHeader{
	margin: auto;
	max-width:1024px;
	padding-top:2em;
	padding-bottom:2em;	
	
}
#header h2{
	font-size: 1.5em;
	display: inline;
}

#logo{
	float:left;
	width:7em;

}
#titolo{
	display: inline-block;
	text-align: center;
	color:white;
}

.accesaid{
	position: absolute;
	height: 0;
	overflow: hidden;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	overflow: auto;
	background-color: #8B0000;
}

#menu li {
	float: left;
	width: 20%;	
}


.active{
	color:white;
	background-color:rgb(184, 11, 11);
	
}

#menu li a {
	display: block;
	text-align: center;
	padding: 14px 0em 16px 0em;
	text-decoration: none;
}
#menu a:hover{
	background-color:rgb(184, 11, 11);
}

#menu a:link{
    color:white;
}
#menu a:visited{
    color:white;
}

#breadcrumb{
    background-color: #ececec;
    font-size: 0.5em;
    text-transform: uppercase;
}

#breadcrumb h2{
	max-width: 1024px;
	padding-left:10%;
	padding-top:0.5em;
	padding-bottom:0.5em;
	font-weight: normal;
}


#content{
	max-width:1024px; 
	margin: 0 auto ;
	overflow: auto;
	padding-bottom:1em;
	height: 100%;
}

#content h2{
    text-align: center;


}
#torre{ 
  width: 100%; 
} 
#testoInformazioni{ 
   text-align: center; 
   width: 30%; 
   display: inline-block;
   padding-left: 0.5em;
}

#testoInformazioni h3{
    padding-top: 3em;
  }

#intestazione{
	padding:0.8em 0.5em 0.5em 0.5em;
	text-align: center;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 2em;
}

#tabellaLaterale{
	width: 23%;
	float: right;
	padding-top: 1em;
	text-align: center;
	font-size: 1em;	
	height: 100%;
	display: inline-block;
}

#tabellaLaterale h4{
	font-weight: bold;	
}
#tabella_orari{
	display: inline-block;
	margin-bottom: 10%;
}
#tabella_orari h4{
	border-bottom:2px solid #a02222;
}

#tabella_eventi{
	margin: 1em;
}

#aperture{
	display: inline-block;
	margin:2em 0em 1em 0em;
	border:3px solid #a02222;
}
#novità{
	display: inline-block;
	margin:2em 0em 1em 0em;
	border:3px solid #a02222;

}

#sottoPiano{
	width: 75%;
	display: inline-block;
	border-right: 1px solid #000;
	}

#tre_pulsanti{
	overflow: auto;
	text-align: center;
}
.casella {
	float: left;
	width: 30%;
	margin: 1%;
	text-transform: uppercase;
	background-color: brown;
	overflow: auto;
}

.casella a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 5em 0em 5em 0em;
	color: white;
}

.casella a:hover{
	background: linear-gradient(to bottom right,brown,	#DB7093);
}

#titolo_promozione{
	text-align: center;
}

#sottoPiano h2{
	border-bottom: 1px solid #000;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 2em;
	display: inline-block;
	width: 95%;
	text-align: center;
	margin-top: 0.5em;
}
.singola_promozione{
	border:2px solid #000;
	float: left;
	width: 26%;
	margin: 3%;
	text-align: center;
	overflow: auto;

}
.promozione{
	width: 100%;
}
#elencoPromozioni{
	overflow: auto;
}

#elencoPromozioni p{
	padding: 1%;
	background-color: #A52A2A;
	color: #FFFFFF;
}

/*--------NEGOZI---------*/

.NomeItem{ 
  float:left; 
  width: 100%; 
  text-align:center; 
  background-color: #A21E1E; 
  color: white; 
  padding-top:5%; 
  padding-bottom:5%; 
 
} 
 
.vetrina{ 
  margin:2% 2% 0% 2%;
  width: 20%; 
  float:left; 
  border:3px solid black; 
  overflow: auto;
} 
.vetrina img{ 
    width: 100%; 
  float:left; 
} 



/*-------FOOTER-----*/
#footer{
	background-color: #a02222;
	height: 100%;
	text-align: center;
	color: white;
	padding-bottom: 1em;
}
#contentMenuFooter{
	background-color:#8B0000;
}
#footerMenu ul{
	max-width: 80%;
	margin:auto;
	list-style-type: none;
	overflow:auto;
}

#footerMenu li {
	float: left;
	width: 20%;

}
#footerMenu li  a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 13px 0px 13px 0px;
}
#footerMenu a:hover{
	background-color:rgb(184, 11, 11);
}

#footer h3{
	margin-top: 1em;
}
#logoFooter{
	width: 10%;
	padding:1em;
}
#infoFooter{
	font-size:0.8em;
}

/*----------DOVE SIAMO--------*/

#mappa{
    width: 60%;
    float: right;
    padding: 1em;
}

/*------------CONTATTI-----------*/
#fotoContatti{
    padding-top: 1em;
    padding-right: 5%;
    width: 60%;
    float: right;
}

/*--------PROMOZIONI_PUBLIC--------*/


.imgPromozione{
    width: 21.75%;
    float: left;
    text-align: center;
    padding: 1em;
    margin: 1%;
}
#PromozioniAttive{
	text-align: center;
	font-size: 1em;
	margin:0% 5% 0% 5%;
}
#PromozioniAttive div{
	width: 22%;
	text-align: center;
	margin:1%;
}

#PromozioniAttive p{
    padding-top: 0.5em;
    width: 100%;
}

/*-----------NEGOZIO LEGO---------*/

#titolo_negozio{
	padding-top:1em;	
	padding-bottom: 1em;
	font-size:2em;
	letter-spacing: 10px;
	line-height: 1em;
	border-bottom: 2px solid #A21E1E;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
}

#informazioni{
	width:25%;
	float:left;
	
}

#descrizione{
	padding-top:1em;	
	margin-right:5%;
	margin-left:31%;
	margin-top:1em;	
}

#logo_negozio{
	width: 90%;
	height: auto;
	padding:1em;
}

#testo{
	padding: 1em;
	line-height: 1.4em;
	color:black; 
	font-style:italic;
	font-size: 95%; 
	text-align: center;
}

#contatti{
	margin-top:1em;
	padding-top:1em;
	text-align: center;

}

.informazione{
	font-weight: 400;
	padding-top:1em;
}

.dato{
	padding-top: 1%;
	color: black;
}

.gioco{
	width: 7em;
	height: auto;
	display:inline-block;
	padding-top:1em;
}

.titolo_prodotti{
	display: block;	
	padding-top:1em;	
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	padding-bottom: 1em;
	font-size:1.5em;
	letter-spacing: 10px;
	line-height: 1em;
	border-bottom: 2px solid #A21E1E;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
}

#promozioni{
	padding-bottom:2em;
}
#promozioni div div{
	width: 28.5%;
	margin:2%;
}
.prodotto{
	margin:1.5% 1% 0% 1%;
	width: 30%;
	float:left; 
  	border:3px solid black;
}

.prodotto img{
	width: 100%;
	height: 10em;
}

 
#prodotti{ 
  margin-bottom: 2em; 
  overflow: auto;
  text-align: center;
	
}

.comingsoon{ 
  text-align: center; 
  background-color: rgb(138, 137, 137); 
  padding: 1em 1em 1em 1em; 
  margin: 1em 1em 1em 1em; 
}