

#logo{
	float: left;
	width: 11em;
}


#titolo{
	
	font-size: 8em;
	text-align: center;
	padding-right: 0.5em;
	font-family: gotl;
	display: block;

}

#due{

	font-size: 1.3em;
font-family: arial;
font-variant: small-caps;
}


#menu li {

	float: left;
	display: block;


}

.bottone{
	text-align: center;
	display: block;
	cursor: pointer;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	background-color: white;
	color: black;
	border: 2px solid black;
	padding: 1em;
	font-size: 15px;
	font-family: arial;
	margin-left: 3em;
	padding-left: 3em;
	padding-right:3em;
	margin-right: 2em;
}

.bottone:hover {
	color:white;
	background-color: black;

}




footer{
	font-style: italic;
	font-size: 10px;
margin-top: 2em;
text-align: center;
}
#HTML{
	float: left;
}

#CSS{

	float: right;
}



.dimensione{
	transition-duration: 1s;
-ms-transition-duration: 1s;
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
-o-transition-duration: 1s;
transition-property: transform;
-ms-transition-property: -ms-transform;
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
overflow:hidden;
margin-left: 16em;
margin-top: 5em;
}


.dimensione:hover {
-ms-transform: scale(1.2,1.2);
-webkit-transform: scale(1.2,1.2);
-moz-transform: scale(1.2,1.2);
-o-transform: scale(1.2,1.2);
}


@font-face {
  font-family: 'gotl';
  src: url('fonts/gotl.eot'); /* IE9 Compat Modes */
  src: url('fonts/gotl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/gotl.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/gotl.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/gotl.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/gotl.svg#svgFontName') format('svg'); /* Legacy iOS */
}




