*{
	padding: 0em;
	margin: 0em;
}

html, body{
	max-width: 1024px;
	margin: auto;				/*ridefinice il bordo in automatico*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	
}

body{
	border: 1px solid #DDD;		/*inserisce il borbo*/

}

#header{
	min-height: 6em;
	padding: 1.0em;  /*padding del header non dei singoli elementi*/
	border-left:4px solid #000;
	border-right: 4px solid #000;
	border-top:4px solid #000;
}

#logo{
	float: left;/*il contenuto circostante gli fluisce intorno piùttosto di proseguire sotto */
	width: 6em;
	height: 6em;
}


#titolo{
	font-size: 45px;
	margin-top: 20px;
	margin-left: 20%;
	font-variant: small-caps;/*maiuscolo*/
}

#breadcrumb{
    padding: 0.5em 0em 0.5em 0.5em;
	font-size: 13px;
	border-left:4px solid #000;
	border-right: 4px solid #000;
	background-color: #DCDCDC
    }

#menu{
	border:1px solid #000;
	border: 4px solid #000;
	
}


#menu ul { /*elenco puntato*/
    list-style-type: none;
    overflow: hidden;
}

#menu li a {
	/*singole voci*/
	/*ha display inline e lo metto a block*/ 
	/* I link hanno display inline*/
	float:left;/*adesso il box si comporta come un box di blocco e il resto gli sta attorno */
    color: black;
    text-align: center;
    padding: 14px 94px 16px;
    text-decoration: none;

}
#menu a:visited{
	background-color: #FFA07A;
}
#menu a:link{
	color:red;

}

#menu a:hover {
		border-color: white;
          background: #FFA07A;
			
		}
		

#contenuto{
	padding: 1em;
	height: 40em;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
	
	
}

#contenuto img{
	float:left;
	padding:5px;
	height: 20em;
	width: 30em;
	overflow: hidden;
	display: block;
}

#contenuto h2{
	text-align: center;
	margin-bottom: 4em;
}

table{
	margin-top: 8.5em;
}

#c{
	padding-top: 3em;
	padding-left: 3em;
	text-align: center;
}

#offerte{
	padding-top: 4em;
	text-align: center;
}

#footer
{
	padding: 0.5em;
	border-left: 4px solid #000;
	border-right: 4px solid #000;
	border-bottom: 4px solid #000;
}


#HTML
{
	float:left;
	display: inline;
}

#CSS{
	float: right;
	display: inline;
}

#footer img{
	margin-left: 1.0em;
	margin-right: 1.0em;
	margin-bottom: 0.8em;
}

#footer p{
	text-align: center;
	font-size: 0.8em;
}


